/* General Dashboard Layout */
.dashboard {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 10vh); /* Full viewport height */
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
}

.no-selected-room {
    font-size: 1.2em;
    color: #7f8c8d;
    text-align: center;
    margin-top: 20%;
}

.content-container {
  width: 70%;
  overflow: auto;
}