/*CSS: header component*/

.header {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 1rem;
  background-color: #007bff;
  height: 10vh;
  color: white;
}

.logo h1 {
  margin: 0;
}

.user-info {
  font-size: 1.2rem;
}
